.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(white 0%, green 100%);
    font-family: Dancing Script;
}

h1 {
    font-family: Dancing Script;
}

h4 {
    color: red;
}

img:hover {
    border-radius: 140px;
    box-shadow: 0 6px 8px rgb(2, 2, 2);
}

img {
    padding: 10px;
    border-radius: 55px;
    box-shadow: 0 6px 8px rgb(2, 2, 2);
}

#textbox {
    width: 300px;
}

#start-btn {
    width: 40%;
}

#videoCam {
    width: 360px;
    height: 250px;
    border: 1px solid grey;
}

#textbox {
    width: 300px;
}

#camera {
    width: 10px;
    height: 10px;
}